<app-navbar></app-navbar>
<!-- <app-sidebar></app-sidebar> -->



<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="navbar-default sidebar" role="navigation"   style=" background-color: #c1c2fe; ">
  <div class="sidebar-nav slimscrollsidebar">
      <!-- <div class="sidebar-head">
          <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
      </div> -->
      <ul class="nav" id="side-menu">
          <li style="padding: 70px 0 0;">
            <!-- <a href="dashboard.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Empleado</a> -->
            <!-- <a href="dashboard.html" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Empleado</a> -->
            <a class="waves-effect" routerLink="/Empleado"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Empleado</a>
          </li>
          <li>
            <!-- <a href="profile.html" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Cargo</a> -->
            <a class="waves-effect" routerLink="/Cargo"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Cargo</a>
          </li>
          <!-- <li>
              <a href="basic-table.html" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Basic Table</a>
          </li>
          <li>
              <a href="fontawesome.html" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Icons</a>
          </li>
          <li>
              <a href="map-google.html" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Google
        Map</a>
          </li>
          <li>
              <a href="blank.html" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Blank Page</a>
          </li>
          <li>
              <a href="404.html" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>Error 404</a>
          </li> -->
      </ul>
      <!-- <div class="center p-20">
          <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Upgrade to Pro</a>
      </div> -->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Left Sidebar -->

<router-outlet></router-outlet>

<!-- <app-home></app-home> -->
<!-- <app-artista></app-artista> -->
<!-- <input type="text" required> -->

<!-- <form [formGroup]="fromArtista">
    <label for="registeredOn">Registered On</label>
    <input name="registeredOn"
          formControlName="nombre"
          type="text" />
    <input name="registeredOn"
        formControlName="descripcion"
        type="text" />
    <input name="registeredOn"
            formControlName="imagen"
            type="text" />
    <button type="submit" (click)="guardar()"> guardar </button>
</form> -->

<!-- <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Artista">Artista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Albun">Albun</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
      </li> -->
    <!-- </ul>  
    <div>
      <router-outlet></router-outlet>
    </div>
  </div> -->