
<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
	<div class="container-fluid">
		
		<div class="row bg-title">
			<div class="col-md-12">
				<div class="white-box">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Cargo</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody *ngFor="let cargo of Cargo;let i=index">
							<tr>
								<td>{{i + 1}}</td>
								<td>{{artista.id}}</td>
								<td class="txt-oflo">{{artista.nombre}}</td>
								<td>
									<button (click)="viewArtista(artista.id)" class="mr-1 mb-1 btn btn-outline-success btn-min-width">Actualizar</button>&#160;
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> 

	</div>
	<!-- /.container-fluid -->
	<footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com</footer>
</div>